
body{
background:#09090f;
color:white;
font-family:tahoma;
margin:0;
padding:0;
}

header{
background:#8b5cf6;
padding:20px;
text-align:center;
}

nav a{
color:white;
text-decoration:none;
margin:10px;
}

.hero{
padding:50px 20px;
text-align:center;
}

.news{
display:grid;
gap:20px;
padding:20px;
}

.card{
background:#161625;
padding:20px;
border-radius:15px;
}