
body{
background:#09090f;
color:white;
font-family:tahoma;
margin:0;
padding:0;
}

header{
background:#8b5cf6;
padding:20px;
text-align:center;
}

nav a{
color:white;
text-decoration:none;
margin:10px;
}
body{
background:#080811;
body{
background:#080811;
color:white;
font-family:tahoma;
margin:0;
}

.container{
width:95%;
margin:auto;
}

.header{
background:linear-gradient(90deg,#7b2cff,#c300ff);
padding:20px;
text-align:center;
font-size:28px;
font-weight:bold;
}

.news-card{
background:#121220;
border-radius:20px;
overflow:hidden;
margin-top:20px;
box-shadow:0 0 20px rgba(123,44,255,.3);
}

.news-card img{
width:100%;
display:block;
}

.news-content{
padding:20px;
}

.btn{
background:#8a2cff;
color:white;
padding:12px 20px;
border:none;
border-radius:10px;
display:inline-block;
text-decoration:none;
}
color:white;
font-family:tahoma;
margin:0;
}

.container{
width:95%;
margin:auto;
}

.header{
background:linear-gradient(90deg,#7b2cff,#c300ff);
padding:20px;
text-align:center;
font-size:28px;
font-weight:bold;
}

.news-card{
background:#121220;
border-radius:20px;
overflow:hidden;
margin-top:20px;
box-shadow:0 0 20px rgba(123,44,255,.3);
}

.news-card img{
width:100%;
display:block;
}

.news-content{
padding:20px;
}

.btn{
background:#8a2cff;
color:white;
padding:12px 20px;
border:none;
border-radius:10px;
display:inline-block;
text-decoration:none;
}
.hero{
padding:50px 20px;
text-align:center;
}

.news{
display:grid;
gap:20px;
padding:20px;
}

.card{
background:#161625;
padding:20px;
border-radius:15px;
}